
numpy==1.18.2
nltk==3.4.5
torch==1.4.0
transformers==2.5.1
pymongo==3.10.1
Flask==1.1.1
tqdm==4.42.0
Flask_PyMongo==2.3.0
Flask_Cors==3.0.8
pandas==0.25.3
prettytable==0.7.2
scipy==1.4.1
spacy==2.2.3
sentence_transformers==0.2.5.1