.row{
    margin-bottom: 5px;
}

#banner {
    /* background-color: #1E57A8; */
    background-image: url("../img/covid19browser.png");
    background-size: cover;
    min-height: 150px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#banner-title {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: 1px 1px 5px rgb(97, 97, 97);
}

#icon {
    min-height:70px;
    height:auto;
    float: left;
}

#github-icon {
    max-height:40px;
    height:auto;
    float: right;
    align-self: flex-end;
}

.left-side {
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.filler {
    flex-grow: 1;
}

.filter-section {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.query-section {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

#search {
    font-size:17px;
    height:45px;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    border-radius: 4px 0px 0px 4px;
}
#submit-exit {
    width:50px;
    height:45px;
    margin-top:0px !important;
}

.back-button {
    display: flex;
    align-items: center;
}

.search-btn {
    height: 45px !important;
    margin-top: 0px !important;
    border-radius: 0px 4px 4px 0px;
}

.searchbar {
    display: flex;
    align-items: center;
}

.description {
    font-size:16px !important;
    margin-bottom: 20px;
}

#yearlabel, #author, #journal, #source {
    font-size: 15px;
    align-content: center;
}

.flexbox {
    display: flex;
    align-content: center;
}

h2 {
    padding-bottom: 10px !important; 
    color: #1E57A8;
}
h3.author{
display:inline;
}
a,a:hover{

    color:#1E57A8;
}
a:visited{

    color:#1E57A8;

}
.nav-link:hover{
    color:#1E57A8;


}

.pagination>li>a{
    border-color: #1E57A8;
    color: #1E57A8;

}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    border-color: #1E57A8;
    background-color: #1E57A8;

}

.articlelist-body {
 margin-top: 50px
}

.authors {
    color: rgba(84,105,115,.8)
}

#submit-update{

    width: 100%;
}
.form-submit-button {

    background: #1E57A8;
    border-color:  #1E57A8 !important;

    color: white;
    
    
    border-color: #000;
    
    height: 30px;
    
    width: 100px;
    
    font: bold 15px arial, sans-serif;
    
    text-shadow:none;

    margin-top: 20px;

    }


.collapse.in { display: inline !important; }


.itemxpage{

    position: relative;
    float: left;
    margin-top: 25px;
    padding: 6px 12px;
}

.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
	cursor:pointer;
}

.bootstrap-select>.dropdown-toggle{

  width: 70% !important;

}

.btn-primary, .btn-primary:hover
{   color: white;
    background-color: #1E57A8;
    border-color: #1E57A8;

}
.btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary,.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle
{   color: white;
    background-color: #1E57A8;
    border-color: #1E57A8;

}
.check-mark{
    color: #1E57A8;

}

span.paragraph{

    background-color:rgb(177, 210, 255);
}

#submit-remove-filters{
    border-color: #bdbdbd !important;
    background-color: #ffffff !important;
    color:rgb(100, 100, 100);
    width: 100%;
    font-size: 16px;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.dropdown-menu{
overflow:  visible !important;
min-height: fit-content !important;
}

#footer {
    display: flex;
    align-content: flex-end;
    margin-top:40px;
    margin-bottom:60px;
}