<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid-19 Semantic Browser API Help</title>
</head>
<body>
    <p>Interrogate the Covid-19 Semantic Browser API as follows:</p>
    <ul>
        <li>/years[?count=COUNT] : Returns unique count of papers for each year</li>
        <li>/authors[?count=COUNT] : Returns unique count of papers for each author</li>
        <li>/journals[?count=COUNT] : Returns unique count of papers for each journal</li>
        <li>/licenses[?count=COUNT] : Returns unique count of papers for each licenses</li>
        <li>/paper?&lt;query=QUERY&gt;[&count=COUNT][&score=SCORE][&author=AUTHOR][&year=YEAR][&journal=JOURNAL][&license=LICENSE] : Returns top COUNT papers relevant to QUERY by at least SCORE, default top 10.</li>
        <li>/paper/&lt;ID&gt;[?query=QUERY][&count=COUNT][&score=SCORE] : Returns ID's paper info, plus its top COUNT (default 10) relevant paragraphs by at least SCORE if QUERY is specified.</li>
        <li>/ or /help : Prints this usage guide</li>
    </ul>
    <p>&lt;PARAM&gt; denotes that PARAM is mandatory, [PARAM] that it is optional.</p>
    <p>Made by Gabriele Sarti, contact via Github @gsarti</p>
</body>
</html>