<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid-19 Semantic Browser API Help</title>
</head>
<body>
    <p>Interrogate the Covid-19 Semantic Browser API as follows:</p>
    <ul>
        <li>/paper?&lt;query=QUERY&gt;[&count=COUNT] : Returns top COUNT papers relevant to QUERY, default top 10.</li>
        <li>/paper/&lt;ID&gt;[?query=QUERY&count=COUNT] : Returns ID's paper info, plus its top COUNT (default 10) relevant paragraphs if QUERY is specified.</li>
        <li>/ or /help : Prints this usage guide</li>
    </ul>
    <p>&lt;PARAM&gt; denotes that PARAM is mandatory, [PARAM] that it is optional.</p>
    <p>Made by Gabriele Sarti, contact via Github @gsarti</p>
</body>
</html>